/*********************SKIP TO MAIN***************/
/* Skip to main*/
.skip:focus{
  position:absolute;
  display:block;
  top:0px;
  left:0px;
  color:#D1CA98;
  font-family: "Trebuchet MS";
  font-weight:bold;
  text-align:center;
  background-color:#722e34;
}

.skip {
  position:absolute;
  width:100%;
  top: -100px;
/*  z-index:1;*/
  color:white;
  padding:10px;
  margin:10px;
}
/*******************^^^^^^^^^******************************/

/******************NAVIGATION****************************/
nav li{
  display:block;
  background-color:#305A40;

}
  /*updating link/nav style*/
nav li a{
  font-family: 'Bebas Neue';;
  color:#D1CA98;
  font-size:25px;
  padding:6px;
  margin:2px;
  letter-spacing:5px;
  font-weight:bold;
  text-decoration:none; /*remove unlinked from links*/
  }
/*updating nav nave list link to have reaction with hover*/
nav li a:hover{
  font-style:italic;
  font-weight:bold;
}
/*updating the current link to have specific design*/
a.current_page{
    font-weight:bold;
    font-family: 'Bebas Neue';
    text-decoration:underline;
    text-decoration-color:#D1CA98;
}
/****************^^^^^^^^^^^^^^************************/

/*********************GENERAL***************************/

/*****************Header animation***********************/
h1{
  font-family:'Bebas Neue';
  font-style:italic;
  text-align:center;
  font-size:4em;
  color:#305A40;
  animation:color-change 5s infinite, wiggle 2s linear 1;


}
@keyframes color-change {
  0% {color:#305A40}
  50% {color:#D1CA98}
  100% {color:#AB6E5F}
}

@keyframes wiggle {
  0%, 7% {transform: rotateZ(0);}
  15% {transform: rotateZ(-15deg);}
  20% {transform: rotateZ(10deg);}
  25% {transform: rotateZ(-10deg);}
  30% {transform: rotateZ(6deg);}
  35% {transform: rotateZ(-4deg);}
  40%, 100% {transform: rotateZ(0);}
}

h2{
  font-family:'Bebas Neue';
  font-style:italic;
  text-align:center;
  font-size:2em;
  color:#305A40;
  animation:color-change 5s infinite;

}
@keyframes color-change {
  0% {color:#305A40}
  50% {color:#D1CA98}
  100% {color:#AB6E5F}
}

@media(prefers-reduced-motion){
  h1,h2{
    animation:none;}}


/**********************************************/
/***********Image Effects**********************/
img{
  width:50vh;
  height:auto;
}
img:hover{
  border: 7px #D1CA98 solid;
  opacity:0.7;
}
/***********************************************/
.text{
  text-align:justify;
  font-family:"Trebuchet MS", 'Arial';
  font-size:15px;
  color:#D1CA98;
  line-height:1.5em;
}
#tracks{
  background-color:rgba(54, 25, 25,0.85);

}

aside{
  background-color:rgba(54, 25, 25,0.5);
  padding-top:10px;

}
.aside1{
  color:#D1CA98;
  padding:3vh;
  overflow:auto;
}
#tracks h2{
  padding-top:15px;
}

/*****Styling images and links*****/
.page_img{
  justify-self:center;
  width:100%;
}
.ext_link{
  text-align:right;
  color:#D1CA98;
  display:flex;
  justify-content:center;
}

.ext_link_b{
  text-align:center;
  color:#D1CA98;
  display:flex;
  justify-content:center;
}
.ext_link:hover{
  font-style:italic;
}
.ext_link:visited{
  color:purple;
}
/*************************^^^^^^^^^^^^^^^^************/

/*********************ENTIRE GRID****************************/
.container{
  display:grid;
  justify-content:center;
  width:100%;
  grid-template-columns: 1fr 15fr 1fr;
  grid-gap:20px;
  background-color:#305A40;
  justify-items:stretch;
}
header{
  background-color:#305A40;
  padding:2vh;
  grid-column: 1/span all;
  grid-row:1;
  text-align:center;
}
.main_grid{
  grid-column:2/span 1;
  grid-row:2;
  overflow:auto;
}

.inner_block{
    background-color:rgba(54, 25, 25, 0.75);
    padding:2vh;
    margin-bottom:2vh;
}
.lyric_grid{
  grid-column:2/span 1;
  grid-row:3;
}
.tracks_grid{
  background-image:url('../images/fall.jpg');
  background-color:#55634E;
  color:#D1CA98;
  padding:2vh;
  grid-column:2/span 1;
  grid-row:4;
}

.footer_grid{
  background-color:#465241;
  padding:2vh;
  grid-column:2/span 1;
  grid-row:5;
  text-align:center;
}

.grid_item{
  border:10px solid #D1CA98;
}
/**************FLEX BOX FOR GALLERY*********/
.flex_item img{
  width:100%;
}
.flex_item figcaption{
  display:flex;
  flex-direction:row-reverse;
  flex-wrap:wrap;
  justify-content: center;
  padding-bottom:30px;
  text-align:center;
}
.gallery_flex{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  flex-wrap:wrap;
}
/**********GRID FOR FORM*****************/
.form_rec{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap:3px;
  justify-content:center;
  align-content:center;
  padding-top:20px;
  padding-left:40px;
}

}
.g1{
  grid-column:2/3;
  grid-row:1;
  background-color:blue;
}

.g2{
  grid-column:1/ 3;
  grid-row:2;
}

.g3{
  grid-column:1/3;
  grid-row:3;
}

.g4{
  grid-column:1/3;
  grid-row:4;
}

/************************************TABLET******************************************/

@media all and (min-width: 800px){


  /*******SITE LAYOUT GRID******************/

  .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  header{
    grid-column:1/span all;
    grid-row:1;
    margin-left:70px;
  }
  .main_grid{
    background-color:#305A40;
    grid-column:1/span all;
    grid-row:2;
  }

  .lyric_grid{
    grid-column:1/span all;
    grid-row:3;
  }

  .footer_grid{
    grid-column:1/span all;
    grid-row:4;
    margin-top:20px;

  }

/**********INNER MAIN GRID************/
/****Setting elements within the main block****/
  .inner_main_grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto auto;
  }
  .header_block{
    grid-column:1/span all;
    grid-row:1
  }
  .wiki_block{
    grid-column:1/span 1;
    grid-row:2;
    align-self:stretch;
    justify-self:stretch;
    margin-right:5px;
    margin-top:20px;
  }
  .inner_tracks_block{
    grid-column:2/span 1;
    grid-row:2;
    margin-left:5px;
    margin-bottom:11px;
    margin-top:20px;
  }
/*********STYLINGS****************/
.header_block>p,img{
  margin-left:100px;
  margin-right:100px;
  text-align:center;
}

/********IMAGES EFFECTS*******/
  .desktop_img{
    width:50vh;
    height:auto;

  }
  .img_flex{
    display:flex;
    justify-content:center;
  }

  .gall_img{
    max-width:300px;
  }


  /*************GALLERY FLEX TABLET***************/
  .gallery_flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }

  .flex_item{
    display:flex;
    flex-direction:column;
  }




/*****************form grid***************************/
    .form_rec{
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap:3px;
      justify-content:stretch;
      align-content:center;
      padding-top:20px;
      padding-left:40px;
    }

    .g1{
      grid-column:2/3;
      grid-row:1;
    }

    .g2{
      grid-column:2/ 3;
      grid-row:2;
    }

    .g3{
      grid-column:2/3;
      grid-row:3;
    }

    .g4{
      grid-column:2/3;
      grid-row:4;
    }

    main, footer, aside{
      margin-left:20px;
      margin-right:20px;
    }
}
/********************DESKTOP*********************/

@media all and (min-width: 1200px){
  nav li{
    display:inline-block;
    background-color:#305A40;
  }

  main, footer, aside{
    margin-left:150px;
    margin-right:150px;
  }

  /********IMAGES EFFECTS*******/
    .desktop_img{
      width:50vh;
      height:auto;

    }
    .img_flex{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-content:center;
    }

    .gall_img{
      max-width:200px;
    }



  }
